@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* bootstap  start */
.m-0 {
  margin: 0px !important;
}
.p-0 {
  padding: 0 !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-3 {
  margin-bottom: 15px !important;
}
.mb-2 {
  margin-bottom: 10px !important;
}
.mt-2 {
  margin-top: 10px !important;
}

.p-5 {
  padding: 50px;
}

.pt-5,
.py-5 {
  padding-top: 50px !important;
}

.pb-5,
.py-5 {
  padding-bottom: 50px !important;
}

.pl-5,
.px-5 {
  padding-left: 50px !important;
}

.pr-5,
.px-5 {
  padding-right: 50px !important;
}

.p-3 {
  padding: 15px;
}

.pt-3,
.py-3 {
  padding-top: 15px !important;
}

.pb-3,
.py-3 {
  padding-bottom: 15px !important;
}

.pl-3,
.px-3 {
  padding-left: 15px !important;
}

.pr-3,
.px-3 {
  padding-right: 15px !important;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

.rounded {
  border-radius: 9px;
}
.rounded-pill {
  border-radius: 20px;
}

.float-initial {
  float: initial !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-green {
  background-color: #1d634d !important;
}

.bg-blue {
  background-color: #113b5e !important;
}

.w-100 {
  width: 100% !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.text-gray {
  color: #aaa !important;
}
/* bootstrap end */

/* login page styling */
.login-container {
  max-width: 1540px;
}
.bg-img-container {
  position: absolute;
  text-align: right;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
img.bgimg {
  width: 50%;
  object-fit: contain;
  height: 90vh;
  object-position: center right;
}

.headinglg {
  font-size: 500%;
  font-weight: 400;
  line-height: normal;
  font-family: arial;
  margin-bottom: 65px !important;
}

h1.headinglg {
  font-size: 540%;
}

.login-buttons {
  padding-right: 10%;
  display: inline-block;
}

.loginbtn {
  font-size: 300%;
}

@media (min-width: 1540px) {
  .login-buttons {
    padding-right: 15%;
  }
}

@media (max-width: 767px) {
  .login-buttons {
    padding-right: 0;
    margin-bottom: 20px;
  }
  .bg-img-container {
    position: initial;
    transform: translate(0);
    margin-bottom: 15px;
  }
  img.bgimg {
    width: 100%;
    height: auto;
  }
  .headinglg {
    text-align: center;
    font-size: 48px;
  }
  h1.headinglg {
    font-size: 50px;
  }
}
/* login page styling end*/

.btn.btn-primary.rounded-pill {
  overflow: hidden;
}

.border-0 {
  border: 0;
}
/* avtar md */
.avtar-md {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: #ffffff85;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}
.avtar-md img {
  width: calc(100% - 4px) !important;
  height: calc(100% - 4px) !important;
  border-radius: 50%;
  object-fit: cover;
}
/* avtar md end */

/* Header start */

.mk-navbar-header {
  width: 100%;
  max-width: 500px;
}
.header--nav-links1 > .dropdown > .dropdown-menu {
  top: 60px;
  left: initial;
  right: 0;
}

.header--nav-links1,
.header--nav-links1 > li,
.header--nav-links1 > li > a {
  height: 100%;
}

.header--nav-links1 > li > a i.fa.fa-caret-down {
  margin-left: 7px;
}

.header--nav-links1 > li > a {
  display: flex;
  align-items: center;
}

.header--nav-links1 > li > a,
.header--nav-links1 .dropdown-menu > li > a {
  color: #dadada;
  font-weight: bold;
}

.header--nav-links1 .dropdown-menu > li > a {
  color: #333;
}

.navbar-brand img {
  max-width: 115px;
}

.header--nav-links1 > li > a {
  line-height: normal;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 9px 0 !important;
}

.header--nav-links1 > li > a:hover,
.header--nav-links1 > li.active > a,
.header--nav-links1 > li:hover > a {
  color: #e84225 !important;
}

.header--nav-links1.style--1 > li > a:before {
  background-color: #fff !important;
}

.header--nav-links1 > li > a > .pull-right {
  position: absolute;
  line-height: normal;
  font-size: 11px;
  border-radius: 2px;
  right: -16px;
  top: 16px;
  font-weight: 500;
  padding: 3px;
  background-color: #e84225;
  color: #fff;
}

.menuh-size {
  font-size: 21px;
  vertical-align: middle;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li.active > a {
  left: 5px;
  position: relative;
  margin-left: 0px;
}

/* Header end */

.postinput {
  font-size: 16px;
  border: 2px solid #eee;
  border-radius: 4px;
}
.postinput > textarea {
  font-size: 16px;
  min-height: 60px;
}

.activity--avatar img {
  margin: 4px auto;
  height: 52px;
  width: 52px;
}

.ad--widget h4.position-absolute {
  bottom: 0px;
  margin-left: 15px;
  color: #fff;
}

.ad--widget h2.position-absolute {
  top: 50%;
  width: 100%;
  line-height: 33px;
  padding-left: 15px;
  max-width: 134px;
  left: 0;
  color: #fff;
  transform: translateY(-50%);
}

.searchform {
  position: relative;
  margin-right: 15px;
}

.searchform button {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 16px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

body {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
}

.min-height-container {
  height: auto;
  min-height: 100vh;
}

.font2 {
  font-family: 'Roboto', sans-serif;
}

.bgcover {
  background-size: cover;
  background-position: center center;
}

.bgfixed {
  background-attachment: fixed;
}

.bgoverlay {
  position: relative;
}

.bgoverlay::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
}

.bgoverlay > * {
  position: relative;
}

img.modal-logo {
  max-width: 150px;
}

.container.d-flex::before,
.container.d-flex::after {
  content: none;
}

img.menuicon {
  max-width: 25px;
  margin-right: 10px;
}
img.main-logo {
  max-width: 140px;
}

.min-heightH {
  min-height: calc(100vh - 105px);
}

.tooltip {
  width: 100%;
  max-width: 200px;
}

.tooltip-inner {
  width: 100% !important;
  max-width: 100% !important;
  white-space: initial !important;
  word-wrap: initial !important;
  font-size: 13px;
  line-height: 16px !important;
  padding: 7px;
  background-color: #000;
}
.gradient {
  background: url(/rsrc.php/v3/yB/r/TwAHgQi2ZPB.png) 0 bottom repeat-x;
  background: linear-gradient(white, #b2cfe4);
}

.login-header {
  color: #fff;
  background-color: #113b5e;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa !important;
}

.small,
small {
  font-size: 11px;
  line-height: normal !important;
}

.login-dialog {
  max-width: 400px;
}

.signup-dialog {
  max-width: 400px;
}

.bgblackt {
  background-color: #000000bd;
}

.inputbg {
  background-color: #716b6bad;
  color: #ffffffc2 !important;
  border: 0;
}

input::placeholder {
  opacity: 1 !important;
  color: inherit !important;
}

input:focus {
  color: #000 !important;
}

/* footer start */
footer.footer {
  font-size: 14px;
  color: #fff;
}

img.footer-logo {
  max-width: 150px;
}
footer.footer.bg-blue a:hover {
  color: #e84225;
}
/* footer end */

@media (max-width: 992px) {
  .header--nav-links1 > li > a > .pull-right {
    margin-right: 9px;
  }
  .header--navbar form.searchform {
    display: none;
  }
  .header--navbar .navbar-toggle {
    border-color: #fff !important;
    margin-left: auto;
    border-radius: 4px;
  }
  .header--navbar .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }
  .header--navbar .navbar-collapse {
    max-height: initial;
    padding: 0 15px;
  }
  .header--nav-links > li > a > * {
    font-size: initial;
    display: inline-block;
  }
  .header--nav-links > li > a {
    text-align: center;
    line-height: normal !important;
  }
}
